.constraints {
    width: 50%;
    height: 50%;

    display: flex;
    flex-flow: column nowrap;
}

.constraints__display {
    flex-grow: 2;
}

.constraints__interaction {
    display: flex;
    flex-flow: row nowrap;
    gap: 5rem;
}