.constraint-input {
    display: flex;
    flex-flow: row nowrap;
}

.constraint-input__label {
    display: flex;
    flex-flow: column nowrap;
}

.constraint-input__field {
    margin-right: .5rem;
}