.constraints {
    width: 100%;
    height: 50%;

    display: flex;
    flex-flow: column nowrap;
}

.constraints__display {
    flex-grow: 2;
}

.constraints__interaction {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}